= render 'devise/shared/index'
.group-chat
  .chat-main
    %p.chat-main__name
      = @group.name
    = link_to edit_group_path(@group) do
      .chat-main__button
        Edit
    %p.chat-main__member
      Members:
      - @group.users.each do |user|
        = user.name
  .messages
    = render @messages # = render partial: 'message', collection: @messages の略

  .send
    = form_for [@group, @message] do |f| # [@group, @message]で、group_messages_pathにリクエストを送る
      .wrapper
        = f.text_field :content, class: 'send__form', placeholder: 'type a message'
        = f.label :image, class: 'image-select' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'send__button'

