.sidebar
  .user
    %h3.user__name
      = current_user.name
    %ul.user__lists
      %li.list
        = link_to new_group_path do
          = fa_icon 'pencil-square-o', class: 'icon'
      %li.list
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'
  .chat-groups
    -#rubyのforでグループ数だけリストを表示
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .group
          %p.group__name
            = group.name
          %p.group__message
            = group.show_last_message
.group-chat
  .chat-main
    %p.chat-main__name
      = @group.name
    = link_to edit_group_path(@group) do
      .chat-main__button
        Edit
    %p.chat-main__member
      Members:
      - @group.users.each do |user|
        = user.name
  .messages
    = render @messages # = render partial: 'message', collection: @messages の略

  .send
    = form_for [@group, @message] do |f| # [@group, @message]で、group_messages_pathにリクエストを送る
      .wrapper
        = f.text_field :content, class: 'send__form', placeholder: 'type a message'
        = f.label :image, class: 'image-select' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'send__button'

